html, body {height:100%; margin: 0;}
body {
  padding-top: 20px;
  min-width: 320px;
}

.content {font-size: 18px; line-height: 24px;}

.response {margin-bottom: 24px;}
.message {
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #999;
}
.error, .success {display:block;}
.success {background-color: #dff0d8;}
.error {background-color: #f2dede;}

footer {
  color: #cccccc;
  height: 35px;
  margin-top: -35px;
}
footer .container {padding-bottom:0;}
footer p {
  clear:left;
  color: #d6d8dd;
  font-size: 12px;
}
footer a {color: #d6d8dd;}