html, body {height:100%; margin: 0;}
body {
  padding-top: 20px;
  min-width: 320px;
}

#wrapper {min-height: 100%}
.container {padding-bottom: 100px;}

.blog-content {margin-top: 2rem;}

.content {font-size: 18px; line-height: 24px;}

.error, .success {display:block;}

.success {background-color: #dff0d8;}
.error {background-color: #f2dede;}