{% extends 'base.html' %}

{% block content_title %}Blog Entries{% endblock %}

{% block content %}
{{session.user}}
  {% if entries %}
    {{entries}}
    {% for entry in entries %}
    <h3>
      <a href="{% if entry.published %}{{ url_for('entry_detail', slug=entry.slug) }}{% else %}{{ url_for('edit_entry', slug=entry.slug) }}{% endif %}">
        {{ entry['title'] }}
      </a>
    </h3>
    <p>Created {{ entry['created'] }}</p>
    {% else %}
    <p>No entries have been created yet.</p>
    {% endfor %}
  {% else %}
  <div>No entries have been created yet.</div>
  {% endif %}
{% endblock %}