{% extends 'base.html' %}
{% block content %}
<div class="blog-content">
  <div class="row">
    <div class="col-lg-12">
      <h1>{% block title %} Create a New Post {% endblock %}</h1>
      <form method="post">
        <div class="form-group mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" placeholder="Post title" class="form-control" value="{{request.form['title']}}" />
        </div>
        
        <div class="form-group mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea type="text" name="content" placeholder="Post content" rows="4" class="form-control" value="{{request.form['content']}}"></textarea>
        </div>
        
        <div class="form-group mb-3">
          <button type="submit" class="btn btn-outline-success">Submit</button>
          <button type="reset" class="btn btn-outline-warning">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}